# TMDB
TMDB_API_KEY=isi_api_key_tmdb_kamu

# Instagram Graph API
IG_USER_ID=17841480212098302
IG_ACCESS_TOKEN=isi_long_lived_access_token_kamu

# GitHub (buat hosting video publik lewat jsDelivr CDN)
GITHUB_USERNAME=enigmarealism99
GITHUB_REPO=ig-movie-bot
GITHUB_BRANCH=main
